.container-fluid
  %h1.text-center
    = "Editar #{@ldi.nombre}"
  .col-lg-4
  .col-lg-4
    = render :partial => "edit_form"
    -# Fixme: Reemplazar rutas absolutas (evitar hardcodear)
    = button_to "Eliminar", {:controller => "/ldi", :action => "destroy", :id => @ldi.id}, :method => :delete
  .col-lg-4