.container-fluid
  .row
    %h2.text-center
      = @poblacion.nombre
  .row
    -# Fixme: Versionar imagen
    = image_tag @poblacion.image, :class => "img-responsive center-block", :size => "300"
  .row
    = image_tag 'agua_map.jpg', :class => "img-responsive center-block"