.container-fluid
  .row.form-group
    -# Fixme: Versionar imagen
    = image_tag @poblacion.image, :class => "img-responsive img-thumbnail center-block"
  .row.form-group
    = image_tag 'agua_map.jpg', :class => "img-responsive img-thumbnail center-block"