<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header navbar-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="entrar.html">Entrar</a></li>
        <li><a href="registrar.html">Registrar</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<!-- Begin page content -->
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="row" >
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><b>ZARAGOZA</b></div>
        <div class="col-lg-4"></div>
      </div>
      <div class="row">
        <img src="img\zaragoza1.jpg" class="img-responsive">
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="img\zaragozap1.jpg" class="img-responsive">
        </div>
        <div class="col-lg-6">
          <img src="img\zaragozap2.jpg" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <img src="img\zaragoza_map.jpg" class="img-responsive">
      </div>
      <div class="row">
        Valoración:
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim, quam ut congue varius, magna turpis ultrices ante, vel consequat eros justo a neque. Curabitur luctus consectetur turpis sit amet varius. Curabitur blandit mollis diam, a fringilla magna ornare ac. Nulla eget blandit velit. Nam feugiat odio nec tellus mattis, sed commodo diam accumsan. Duis cursus risus at libero dictum, tincidunt porttitor nisl dapibus. Maecenas faucibus, nunc nec imperdiet facilisis, odio felis semper eros, sit amet condimentum nisl purus elementum nisi. Nullam cursus nibh dolor, sed porta turpis blandit sed. Praesent a ante eu sem molestie vehicula et vitae mauris. Etiam ut iaculis mi. Etiam feugiat arcu id sem lacinia mollis non vitae nulla.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10"> <p><u>Ordenar por:</u> Valoracion </p></div>
      </div>
      <!-- For each location -->
      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">
          <img src="img\san_juan_de_la_pena.jpg" class="img-responsive">
        </div>
        <div class="col-lg-2">
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star"></span>
          <span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <div class="col-lg-2">
          <a href="location.htm">San Juan de la Peña</a>
        </div>
        <div class="col-lg-2">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="col-lg-2">

        </div>
      </div>
    </div>
  </div>

</div>

<!-- Begin Footer" -->
<div id="footer">
  <div class="container">
    <div class="col-sm-4 "><a href="#">Mapa del web</a>
      <a href="#">Ayuda</a>
      <a href="#">Condiciones legales</a>
    </div>
    <div class="col-sm-4 "></div>
    <div class="col-sm-4 center">
      <a href="#">Contacto</a>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
      <a href="#">Google+</a>
    </div>
  </div>
</div>