.container
  .row
    .col-lg-4
      %h1.text-center
        = @poblacion.nombre
  .row
    .col-lg-4
      = render :partial => "informacion"
    .col-lg-1
    .col-lg-7
      - if @poblacion.descripcion != nil && !@poblacion.descripcion.empty?
        .row.well
          %p
            = @poblacion.descripcion
      .row
        = render :partial => "lista_ldis"