/Begin page content
.container-fluid.jumbotron
  .col-lg-4
  .col-lg-4.col-sm-12
    .row
      -# Fixme: Versionar el logo con carrierwave
      = image_tag 'logo_multideg.png', :class => "img-responsive"
    .row
      = form_tag({:controler => 'busqueda', :action => 'index'}, :method => :get) do
        .input-group
          =text_field_tag "query", nil, :autofocus => true, :class => "form-control"
          %span.input-group-btn
            =submit_tag "Encontrar", :class => "btn btn-default"
  .col-lg-4