/Begin page content
.container
  .row
    .col-lg-3
    .col-lg-6
      .input-group
        %input{:type => "text", :class => "form-control", :placeholder => "Introduzca su búsqueda..."}
          %span.input-group-btn
            %button{:class => "btn btn-default", :type => "button"}
              Go!
    .col-lg-3