/Begin page content
.container
  .row
    .col-lg-3
    .col-lg-6
      .input-group
        =form_tag :action => "index" do
          =text_field_tag "query"
          =submit_tag "Go!", :class => "btn btn-default"
    .col-lg-3