-#Fixme: Renderizarlo como parcial
/Begin Footer
#footer
  .container
    .col-sm-4
      %a{:href => "#"}
        Mapa del web
      %a{:href => "#"}
        Ayuda
      %a{:href => "#"}
        Condiciones legales
    .col-sm-4
    .col-sm-4.center
      %a{:href => "#"}
        Contacto
      %a{:href => "#"}
        Twitter
      %a{:href => "#"}
        Facebook
      %a{:href => "#"}
        Google+