!!! 5
%html
  %head
    %title
      walko
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
    =javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags

  %body
    =render :partial => "layouts/header" unless (current_page?(root_url) || current_page?(:busqueda_new))

    =yield

    =render :partial => "layouts/footer"