!!! 5
%html
  %head
    %title
      walko
    =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"
    =javascript_include_tag "https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"
    =javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyCMD38S0lcCVScKB_VHKDN5CjTYPih6l2Q&sensor=false"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, user-scalable=no"}
    =csrf_meta_tags

  %body
    - if (current_page?(root_url) || current_page?(:busqueda_new))
      =render :partial => "layouts/header_inicio"
    - else
      =render :partial => "layouts/header"

    =yield